@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-rgb: 186, 155, 118;        /* hsl(46, 33%, 63%) in RGB */
  --secondary-color-rgb: 233, 231, 233;      /* hsl(0, 2%, 91%) in RGB */
  --footer-background-color-rgb: 37, 34, 36; /* hsl(340, 4%, 14%) in RGB */
  --body-background-color-rgb: 255, 255, 255;/* hsl(0, 0%, 100%) in RGB */
  --text-color-rgb: 79, 79, 79;              /* hsl(0, 0%, 31%) in RGB */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

  @layer components{
    .my-footer{
      background-color:  rgb(var(--footer-background-color-rgb));
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item {
      width: 60%; /* Adjust this based on your desired content width */
      text-align: justify;
    }
  }
  
